@import "tailwindcss";

body{
    background-color: black;
    color: whitesmoke;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

